@import '../abstract/variaveis.scss';

#curiosidades {
    padding: 1rem;
    text-align: center;
    margin: 5px;

    h3 {
        color: $cor-quaternaria;
        font-size: $tamanho-do-texto / 2.5;
        padding: 0.75rem;
    }

    h4 {
        font-size: $tamanho-do-texto / 3;
    }

    p {
        margin-top: 5px;
    }
}