@import "../abstract/variaveis.scss";

#servicos {
    margin: 80px;

    h3 {
        color         : $cor-quaternaria;
        font-size     : $tamanho-do-texto / 2.5;
        font-weight   : 300;
        margin        : 1rem;
        text-align    : center;
        text-transform: uppercase;
    }

    h4 {
        font-size    : $tamanho-do-texto / 1.2;
        font-weight  : 300;
        margin-bottom: 80px;
        text-align   : center;

    }
}