@import "../abstract/variaveis.scss";

#servicos {
    margin: 80px;

    h3 {
        color         : $cor-quaternaria;
        font-size     : $tamanho-do-texto / 2.5;
        font-weight   : 300;
        margin        : 1rem;
        text-align    : center;
        text-transform: uppercase;
    }

    h4 {
        font-size    : $tamanho-do-texto / 1.2;
        font-weight  : 300;
        margin-bottom: 80px;
        text-align   : center;

    }

    .cards {
        display        : flex;
        justify-content: space-evenly;

        .card {
            text-align: center;
            width     : 360px;

            h5 {
                color: $cor-quaternaria;
                font-size: $tamanho-do-texto / 1.5;
                font-weight: 300;
                margin-bottom: 20px;
                margin-top: 25px;
            }

            p {
                font-size: $tamanho-do-texto / 3;
                font-weight: 300;
                line-height: 1.25rem;
            }

            .img-container {
                border-bottom : 6px solid $cor-primaria;
                padding-bottom: 2px;

                img {
                    max-width: 100%;
                }
            }
        }
    }
}